    body {
        width:75%;
        max-width: 650px;
        margin: auto;
        min-height: 320px;
        font-size: 100%;
        font-family: 'Libre Baskerville', Georgia, serif;
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.7em;
        }
        
    h1, h2, h3 {
                font-weight: normal;
                color: #c06;
        }

        h1{font-size: 3.375em;}
        h2{font-size: 2.0em;}
        h3{font-size: 1.5em;}

.intro {
        font-size: 1.2em;
        padding: 1.5em 0em;
        }

section {padding: 1.5em 0em;}

/* ------ LINKS ------*/

a {
    color: #c06;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

}